@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans:ital,wght@1,300&display=swap');

.App {
  text-align: center;
}
.header{
  font-family: 'Nerko One', cursive;
  font-size: 5.5em;
  text-align: center;
  text-decoration: none;
  color: #551a8b;
}
.sub_link>h3{
  margin: 0;
}
.sub_link{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  text-align: center;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 10;
  color: #551a8b;
}
.sub_link:hover{
  text-decoration: underline;
}
.footer{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f5e0f1;
}

/* ------------------------------------------------ Media Query ---------- */
/* All Iphones */

@media(max-width: 415px){
  .header{
    font-size: 4.4em;
  }
  .sub_link{
    font-size: 0.8em;
  }
}