@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Open+Sans:ital,wght@1,300&display=swap');

.App {
  text-align: center;
}
.header{
  font-family: 'Nerko One', cursive;
  font-size: 75px;
  text-align: center;
  text-decoration: none;
}
.sub_link>h3{
  margin: 0;
}
.sub_link{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 10;
}
.sub_link:hover{
  text-decoration: underline;
}