.container{
    position: relative;
}
.pizzaNameContainer{
    position: absolute;
    top: 65%;
    z-index: 1;
    left: 50%;
    /* enables centering an absolute positioned div without knowing the width */
    transform: translateX(-50%);
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0;
    padding: 10px 20px 10px 20px;
}
.pizzaName{
    /* background-color: white; */
    font-size: 2em;
    color: #551a8b;
    margin-bottom: 10px;
    font-weight: 900;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.galleryButtonStyle>button{
    /* margin: 0;
    text-align: center; */
}