/* Is it better to generate a random number based on the pizza range? */
#basil_1 {
  opacity: 1;
  top: 10%;
  left: 50%;
  /* z-index: 10; */
}


/* top limits : 40-100% */
/* left limits: 37%-60% */