#blackOlive_1 {
  position: absolute;
  opacity: 1;
  top: 68%;
  left: 32%; 
}
#blackOlive_2 {
  position: absolute;
  opacity: 1;
  top: 38%;
  left: 55%;
}
#blackOlive_3 {
  position: absolute;
  opacity: 1;
  top: 72%;
  left: 62%;
}
#blackOlive_4 {
  position: absolute;
  opacity: 1;
  top: 20%;
  left: 34%;
}
#blackOlive_5 {
  position: absolute;
  opacity: 1;
  top: 17%;
  left: 43%;
}
.blackOlive{
  width: 8%;
}
