#pineapple_1 {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 38%;
}
#pineapple_2 {
  position: absolute;
  opacity: 1;
  top: 22%;
  left: 62%;
}
#pineapple_3 {
  position: absolute;
  opacity: 1;
  top: 66%;
  left: 52%;
}
#pineapple_4 {
  position: absolute;
  opacity: 1;
  top: 23%;
  left: 34%;
}
#pineapple_5 {
  position: absolute;
  opacity: 1;
  top: 38%;
  left: 70%;
}
.pineapple{
  width: 8%;
}